# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GitHub_demo\springboot_sevenhome_client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
